td,
th {
  width: 28%;
}

table {
  width: 100%;
  max-height: 80vh;
}

.filter {
  width: 100%;

}


.add-button,
.download-button {
  color: #fff;
  background-color: #003d6e;
  width: 125px;
  height: 35px;
  text-align: center;
}

.add-button2,
.download-button2 {
  color: #fff;
  background-color: #003d6e;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

mat-card {
  height: 80vh;
  color: #6d6d6d;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
