.dialog-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  border-bottom: 1px solid #003d6e;
  .mat-dialog-title {
    color: #003d6e;
    width: 95%;
    margin-bottom: 20px;
  }
}

.utp-col-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.utp-row-2.utp-row-medium{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 4%;
}

.form-field{
  width: 100%;
}


.actions {
  button {
    background-color: #003d6e;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    font-size: 15px;
  }

  mat-icon{
    margin-bottom: 3px;
    margin-right: 6px;
  }
}
