<mat-card class="card-to-display-grid">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-subtitle>Vista</mat-card-subtitle>
  <mat-card-content>

    <div class="actions-container">
      <mat-form-field appearance="standard" class="filter">
        <mat-label>Buscador</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar modulos" #input />
      </mat-form-field>

      <mat-card-actions class="buttons-container" align='end'>
        <button mat-flat-button (click)="openDialog(mode.save, undefined)" class="add-button">
          <mat-icon>add_circle_outline</mat-icon> Agregar
        </button>
        <button mat-flat-button class="download-button">
          <mat-icon>get_app</mat-icon> Descargar
        </button>
      </mat-card-actions>
    </div>



    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="modulesInformation | paginate: pageSize:pageNumber" matSort>

        <ng-container [matColumnDef]="column" *ngFor="let column of headerColumnNames; let i = index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ headerColumnNames[i] }}
          </th>
          <td mat-cell *matCellDef="let module">{{ module[displayedColumns[i]] }}
            <div *ngIf="i+1 == headerColumnNames.length" class="button-container">

              <button mat-icon-button (click)="openDialog(mode.update,module)" class="edit-button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="displayDeleteAlert(mode.delete,module)" class="delete-button">
                <mat-icon>delete</mat-icon>
              </button>

            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="headerColumnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: headerColumnNames;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No se encontro datos relacionados a "{{ input.value }}"
          </td>
        </tr>

      </table>

      <mat-paginator [length]="modulesInformation.length" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page of users" (page)="handlePage($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
