.utp-toolbar{
    background-color: #efefef;
}

.spacer {
    flex: 1 1 auto;
  }

.side-menu-icon{
    color: #6e7273;
}

.account-select-icon{
    color: #6e7273;
    
}

.button-account-select{
    font-size: auto;
}

.button-side-menu{
    font-size: auto;
}

.logo-inventario-utp{
    color: #6e7273;
        size: large;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    
}
