.utp-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid green;
}

.utp-row{
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    justify-content: flex-start;
    border: 1px solid blue;
}

.utp-item2{
    display: flex;
    flex: 0 0 50%;
    border: 1px solid red;
}

.utp-item3{
    display: flex;
    flex: 0 0 33.3%;
    border: 1px solid orange;
}