.chart-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.col-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 10px;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  margin-bottom: 10px;
}

.card-1 {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 5px;
  background: linear-gradient(45deg,#4099ff,#73b4ff);
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
  transition: all .3s ease-in-out;
}

.card-2 {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 5px;
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
  transition: all .3s ease-in-out;
}

.card-3 {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 5px;
  background: linear-gradient(45deg,#ffb64d,#ffcb80);
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
  transition: all .3s ease-in-out;
}

.card-4 {
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 5px;
  background: linear-gradient(45deg,#ff5370,#ff869a);
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
  transition: all .3s ease-in-out;
}

.chart-pie {
  width: 500px;
}

.text-white {
  color: #fff!important;
  font-weight: 400;
  font-size: 18px;
}

.text-right {

  text-align: right!important;
}

.float-right {
  float: right!important;
}

.float-left {
  float: left!important;
}

.size-h2 {
  color: #fff!important;

  .size-span {
    font-size: 35px;
    margin-top: 4px;
  }
}

.icon-card {
  margin-top: 0px;
  color: white;
  font-size: xx-large;
  height: 29px;
  width: 29px;
}



