<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav
    id="sidenav"
    opened
    #sidenav
    class="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    mode="side"
  >
    <section class="logo-container">
      <img class="logo-inventary-utp" [src]="'/assets/img/logoutp.svg'" />
    </section>

    <section class="buttons">
      <br />
      <p>Modulos</p>
      <a
        href="#"
        mat-button
        class="button"
        matTooltip="Estudiantes"
        matTooltipPosition="right"
        routerLink="/students"
        ><mat-icon>co_present</mat-icon>Estudiantes</a
      >
      <a
        mat-button
        class="button"
        matTooltip="Graficas"
        matTooltipPosition="right"
        routerLink="/charts"
        ><mat-icon>stacked_bar_chart</mat-icon>Graficas</a
      >
      <a
        href="#"
        mat-button
        class="button"
        matTooltip="Sistemas operativos"
        matTooltipPosition="right"
        ><mat-icon>android</mat-icon>Sistemas Operativos</a
      >
      <a
        href="#"
        mat-button
        class="button"
        matTooltip="Modulos"
        matTooltipPosition="right"
        routerLink=""
        ><mat-icon>extension</mat-icon>Modulos</a
      ><br />
    </section>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <utp-toolbar (emit)="onToolbarMenuToggle()"></utp-toolbar>

    <main class="main-container">
      <utp-layout></utp-layout>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
